<h2 mat-dialog-title style="font-weight: bold">Add Task</h2>
<mat-dialog-content>
  <form [formGroup]="taskForm" >
    <mat-form-field appearance="fill">
      <mat-label>Task Name</mat-label>
      <input
        formControlName = "name" required
        name="name"
        matInput
        placeholder="Enter task name"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>User</mat-label>
      <mat-select formControlName = "user" required>
        <mat-option *ngFor="let user of users" [value]="user.id">{{user.username}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Deadline Date</mat-label>
      <input
        formControlName = "deadline" required
        matInput
        [matDatepicker]="picker"
        name="deadline"
        
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <textarea
       formControlName = "description"
        name="description"
        matInput
        rows="5"
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cancel</button>
  <button
    mat-button
    color="primary"
    type="button"
    (click)="onSave()"
    [disabled]="!taskForm.valid"
  >
    Save
  </button>
</mat-dialog-actions>
