/* .task-container {
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.task-container table {
  table-layout: fixed;
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px;
}

.mat-column-description, .mat-column-deadline {
  width: 25%; /* Adjust as needed */
}
.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}
 
.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}
 
.btn {
	margin-bottom: 10px;
}


