<div class="container my-3">
  <mat-form-field appearance="fill">
    <mat-label>Filter by Status</mat-label>
    <mat-select [(ngModel)]="selectedStatus" (selectionChange)="loadUserTasks()">
      <mat-option value="">All</mat-option>
      <mat-option value="In-Progress">In-Progress</mat-option>
      <mat-option value="Completed">Completed</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="container my-5">
  <div class="row g-4">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let task of tasks">
      <div class="card h-100 shadow-sm">
        <img
          [src]="logoImage || 'assets/default-task.png'"
          class="card-img-top"
          [alt]="task.name || 'Task Image'"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ task.name || "No Title" }}</h5>
          <h6 class="card-subtitle mb-2 text-secondary">
            Deadline: {{ task.deadline || "N/A" }}
          </h6>
          <p class="card-text">
            {{ task.description || "No description provided." }}
          </p>
          <div class="mt-auto d-flex justify-content-between">
            <button class="btn btn-details btn-sm">
              <i class="fas fa-info-circle me-1"></i> Details
            </button>

            <button *ngIf="task.status == 'In-Progress'" (click)="completeTask(task.id)" class="btn btn-success btn-sm">
              <i class="fas fa-check me-1"></i> Complete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noTasks>
  <p>No tasks available.</p>
</ng-template>
